/* Estilo general */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 10px;
}

/* Estilos para los títulos */
.title {
    text-align: center;
    font-size: 2em;
    margin-bottom: 20px;
}

.section-title {
    font-size: 1.5em;
    color: #333;
    margin-bottom: 10px;
}


/* Estilo para los párrafos */
.section-text {
    font-size: 1em;
    color: #666;
    line-height: 1.5;
    margin-bottom: 20px;
}

/* Estilos para las secciones de información */
.info-section {
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    margin-bottom: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
