body {
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
    background-color: #f0f0f0;
}

.header {
    background-color: cadetblue;
    background-size: 100% 100%; 
    background-position: center; 
    color: #ffffff;
    text-align: center;
    padding: 100px 0;
}

.header-content {
    max-width: 800px;
    margin: 0 auto;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 20px;
}

.section {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center; 
    text-align: center; 
    border-radius: 1%;
}

.section img {
    display: inline-block;
    width: 20%;
    max-width: 100%;
    height: 20%;
    margin: 10px auto; 
}

.section-text {
    margin-top: 10px;
}

h1 {
    font-size: 36px;
    margin-bottom: 10px;
}

h2 {
    font-size: 25px;
    margin-bottom: 10px;
}

p {
    font-size: 16px;
}

@media screen and (min-width: 768px) {
    .section img {
        margin: 10px 20px 10px 0;
    }

    .section-content {
        text-align: left;
        align-items: flex-start;
    }

    .section-text {
        margin-top: 0;
    }
}
